<!doctype html>
<html>
  {% include head.html %}
  <body>
  	<div id="q-app" style="min-height: 100vh;">
	  <div class="q-pa-md">
		<q-toolbar class="bg-primary text-white">
		  <q-btn flat round dense icon="menu" class="q-mr-sm"></q-btn>
		  <q-avatar>
			<img src="https://cdn.quasar.dev/logo-v2/svg/logo-mono-white.svg">
		  </q-avatar>
	
		  <q-toolbar-title>Quasar Framework</q-toolbar-title>
	
		  <q-btn flat round dense icon="whatshot"></q-btn>
		</q-toolbar>
	  </div>
	</div>
    {{ content }}
  </body>
</html>